In [1]:
import numpy as np
import pandas as pd
import matplotlib as mp
import seaborn as sns

In [2]:
data = pd.read_csv("../data/ibm_hr_attrition.csv", sep=";")

In [4]:
data

     Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0     41,Yes,Travel_Rarely,1102,Sales,1,2,Life Scien...
1     49,No,Travel_Frequently,279,Research & Develop...
2     37,Yes,Travel_Rarely,1373,Research & Developme...
3     33,No,Travel_Frequently,1392,Research & Develo...
4     27,No,Travel_Rarely,591,Research & Development...
...                                                 ...
1465  36,No,Travel_Frequently,884,Research & Develop...
1466  39,No,Travel_Rarely,613,Research & Development...
1467  27,No,Travel_Rarely,155,Research & Development...
1468  49,No,Travel_Frequently,1023,Sales,2,3,Medical...
1469  34,No,Travel_Rarely,628,Research & Development...

[1470 rows x 1 columns]

In [ ]:
Entproba = data[['Attrition','DistanceFromHome', 'YearsWithCurrManager']]
Entproba['Attrition'] = np.where(Entproba['Attrition'] == "No", 0, 1)
Entproba.head()

In [ ]:
sns.lmplot(x="DistanceFromHome", y="Attrition", data=Entproba);
plt.grid(True)
plt.show()

In [ ]:
sns.lmplot(x="YearsWithCurrManager", y="Attrition", data=Entproba);
plt.grid(True)
plt.show()